#################################
# ===== BUILD =====
#################################

# Maven
/target/

# Gradle
/build/
.gradle/

#################################
# ===== JAR / WAR =====
#################################

*.jar
*.war
*.ear

#################################
# ===== LOGS =====
#################################

*.log
logs/

#################################
# ===== TEMP =====
#################################

tmp/
temp/
*.tmp

#################################
# ===== CONFIGURAÇÕES SENSÍVEIS =====
#################################

# Properties locais
application.properties
application.yml

application-dev.properties
application-homolog.properties
application-prod.properties

.env
.env.*

#################################
# ===== IDEs =====
#################################

# IntelliJ
.idea/
*.iml

# VS Code
.vscode/

# Eclipse
.project
.classpath
.settings/

#################################
# ===== SISTEMA OPERACIONAL =====
#################################

.DS_Store
Thumbs.db

#################################
# ===== TESTES / RELATÓRIOS =====
#################################

/coverage/
/reports/

#################################
# ===== OUTROS =====
#################################

*.swp
*.swo
*.bak
backend/target/classes/com/system/fisio/infrastructure/security/JwtConfig.class
/backend/target
